.content .text_demo {
    color: blueviolet;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    left: 70px;
}

footer .text_demo {
    color: blueviolet;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    left: 70px;
}

.row {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.pr {
    position: relative;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.resized-image {
    width: 50%;
    height: 50%;
}

.font-Sans {
    font-family: 'ClearSans';
}

.font-Avenir {
    font-family: 'Avenir';
}

.fw-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.decoration-none {
    text-decoration: none;
}

.item-center {
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly
}

.medicine-bg {
    background: url(../images/MedicineBG.png);
    background-size: 1024px 768px;
}

.icon-size {
    width: 66px;
    height: 66px;
}

.use-position {
    position: absolute;
    left: 78px;
    top: 239px;
}

.use-content {
    position: absolute;
    left: 169px;
    top: 212px;
}

.height-unset {
    height: unset;
}

.fs-15 {
    font-size: 15px;
}

.fs-14 {
    font-size: 14px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-40 {
    padding-left: 40px;
}

.fw-regular {
    font-weight: 400;
}

.document-position {
    position: absolute;
    left: 538px;
    top: 239px;
}

.document-content {
    position: absolute;
    left: 626px;
    top: 213px;
}

.box-position {
    position: absolute;
    left: 79px;
    top: 441px;
}

.box-content {
    position: absolute;
    left: 171px;
    top: 448px;
}

.howto-position {
    position: absolute;
    left: 534px;
    top: 442px;
}

.howto-content {
    position: absolute;
    left: 626px;
    top: 447px;
}

.nav-color {
    background-color: #067252;
}

.active {
    background-color: #0bbd85;
}

.inactive {
    background-color: #067252;
    border: none;
}

.w-988 {
    width: 988px;
}

.br-10 {
    border-radius: 4px;
}

.p-10 {
    padding: 10px;
}

.m-5 {
    margin: 5px;
}

.btn {
    width: 135px;
    height: 40px;
}

.h-70 {
    height: 70px;
}

.fs-15 {
    font-size: 15px;
}

.nav-position {
    position: fixed;
    left: 18px;
    top: 701px;
}

.logo-size {
    width: 141px;
    height: 81px;
    position: absolute;
    left: 40px;
}