.content .text_demo{
    color: blueviolet;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    left: 70px;
}
footer .text_demo{
    color: blueviolet;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    left: 70px;
}
